<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.XinshengMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Xinsheng">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="xuehao" property="xuehao" jdbcType="VARCHAR"/>
                                    <result column="mima" property="mima" jdbcType="VARCHAR"/>
                                    <result column="xingming" property="xingming" jdbcType="VARCHAR"/>
                                    <result column="xingbie" property="xingbie" jdbcType="VARCHAR"/>
                                    <result column="shengyuandi" property="shengyuandi" jdbcType="VARCHAR"/>
                                    <result column="xueyuan" property="xueyuan" jdbcType="VARCHAR"/>
                                    <result column="zhuanye" property="zhuanye" jdbcType="VARCHAR"/>
                                    <result column="banji" property="banji" jdbcType="VARCHAR"/>
                                    <result column="lianxifangshi" property="lianxifangshi" jdbcType="VARCHAR"/>
                                    <result column="xueshengjianjie" property="xueshengjianjie" jdbcType="VARCHAR"/>
                                    <result column="shifoufenpeisushe" property="shifoufenpeisushe" jdbcType="VARCHAR"/>
                                    <result column="suozaisushehao" property="suozaisushehao" jdbcType="VARCHAR"/>
                                    <result column="chuangweihao" property="chuangweihao" jdbcType="VARCHAR"/>
                                    <result column="shifouyijiaoxuefei" property="shifouyijiaoxuefei" jdbcType="VARCHAR"/>
                                    <result column="sushejiaofei" property="sushejiaofei" jdbcType="VARCHAR"/>
                                    <result column="issh" property="issh" jdbcType="VARCHAR"/>
                
    </resultMap>
    <sql id="Base_Column_List">
        id, xuehao, mima, xingming, xingbie, shengyuandi, xueyuan, zhuanye, banji, lianxifangshi, xueshengjianjie, shifoufenpeisushe, suozaisushehao, chuangweihao, shifouyijiaoxuefei, sushejiaofei, issh    </sql>
        <select id="login" resultMap="BaseResultMap" parameterType="com.spring.entity.Xinsheng">
        select
        <include refid="Base_Column_List"/>
        from xinsheng        where xuehao = #{xuehao}
        AND mima = #{mima}
    </select>
    </mapper>
